.myart-content {
    align-items: stretch; 
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap; 
    flex: 1 1 100%; 
}

.art-row {
    background-color: blue;
}

.art-card {
    max-height: 400px;
    background-color: rgba(#FFF, $alpha: 0.75);
}

.art-work {

}