<div class="myart-root" fxfill fxlayout="column">
  <div class="myart-container" fxflex fxlayout>

    <div class="myart-sidenav" fxflex="20" fxlayoutalign="center center">
      <h2>Filter Category</h2>

    </div>

    <div class="myart-content" fxflex="80" fxlayoutalign="center center">
      <mat-card class="art-card" *ngFor="let art of artworks">
        <mat-card-header>
          <mat-card-title>{{ art.title }}</mat-card-title>
          <mat-card-subtitle>{{ art.category }} - {{ art.created | date : 'MMM, y' }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="getUrl(art.name)" alt="Photo of {{ art.title }}">
      </mat-card>
    </div>

  </div>
</div>