<div class=login-container>
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-label>Login</mat-label>
    <button mat-button>
      <mat-icon (click)=Exit()>clear</mat-icon>
    </button>
  </div>
  <br>
  <div class="flex-container" fxLayout="column" fxLayoutAlign="center center" class="example-container">
    <mat-form-field class="login-input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="login-input" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <br>
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button>
      <mat-label (click)=Login()>Login</mat-label>
    </button>
    <button mat-button>
      <mat-label (click)=Register()>Register</mat-label>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="flex-container" fxLayout="column" fxLayoutAlign="space-between center">
    <button class="login-input" (click)=GoogleLogin() mat-button>
      <mat-label>Login with Google </mat-label><!--TODO: Connect This-->
    </button>
    <button class="login-input" (click)=FacebookLogin() mat-button>
      <mat-label>Login with Facebook</mat-label><!--TODO: Connect This-->
    </button>
  </div>
</div>