.myart-container {
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex; 
    flex: 1 1 1e-09px;
}

.myart-sidenav {
    background-color: rgba(0, 255, 0, 0.25);
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
}

.myart-content {
    place-content: flex-start; 
    align-items: stretch; 
    flex-direction: row;
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap; 
    flex: 1 1 100%; 
}

.art-card {
    margin: 10px;
    flex: 1 1 17%; 
}